.logotiposall{
   /*    .listaLogos{
            align-items: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .item-logos{
                  width: 32%;
                  padding: 10px;
                  a{
                        display: block;
                  }
            }
      } */
}